body {
    font-family: 'Poppins', sans-serif;
    margin: 0 70px;
}
p{
    color: #777777;
}

/* small device  */
@media screen and (max-width: 414px) {
    body {
        margin: 0 20px;
    }
    .navbar-brand img {
        width: 104px;
    }
}
/* medium device */
@media screen and (min-width: 420px) and (max-width: 900px) {
    body {
        margin: 0 40px;
    }
    .navbar-brand img {
        width: 132px;
    }
}
.slider-txt-center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.title-res-txt{
    font-size: 4vw;
}

.p-res-txt{
    font-size: 1.5vw;
}
